<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <h2>Registration Form</h2>
    <form (ngSubmit)="onSubmit()">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required [(ngModel)]="registrationData.name"><br><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required [(ngModel)]="registrationData.description"><br><br>
    
        <label for="contactName">Contact Phone:</label>
        <input type="text" id="contactName" name="contactName" required [(ngModel)]="registrationData.contact.phone"><br><br>
    
        <label for="contactEmail">Contact Email:</label>
        <input type="email" id="contactEmail" name="contactEmail" required [(ngModel)]="registrationData.contact.email"><br><br>
    
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" required [(ngModel)]="registrationData.login"><br><br>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="registrationData.password"><br><br>
    
        <button type="submit">Register</button>
    </form>
</body>
</html>