<body>

<div class="container">
    <h2>Edit Profile</h2>
    <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="string" id="name" name="name" [(ngModel)]="organization.name" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="string" id="description" name="description" [(ngModel)]="organization.description" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="string" id="email" name="email" [(ngModel)]="organization.contact.email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="string" id="phone" name="phone" [(ngModel)]="organization.contact.phone" ngModel class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</body>