<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #ff6b6b, #ffb142);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }


  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }
</style>

<main class="main">
    <div class="content">
      <a *ngIf="!isLoggedIn" (click)="redirectToLogin()">Login</a>
      <a *ngIf="!isLoggedIn" (click)="redirectToRegister()">Register</a>
      <a *ngIf="isLoggedIn" (click)="redirectToProfile()">Perfil</a>
      <a *ngIf="isLoggedIn" (click)="redirectToOrganization()">ONGs</a>
      <a *ngIf="isLoggedIn" (click)="redirectToMatch()">Minhas ONGs</a>
    </div>

</main>

<router-outlet/>
